release/*
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
*.hemttprivatekey
*.dll
Thumbs.db

hemtt.exe
hemttNew.exe
hemtt
.hemttout
releases/*
keys/*
.hemtt/local
sqfvm.exe
.vscode/sqfvm-lsp/*
ArmaScriptCompiler.exe
*.sqfc
