release/*
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
*.dll
Thumbs.db

hemtt.exe
releases/*
keys/*
.hemtt/local
sqfvm.exe
ArmaScriptCompiler.exe
*.sqfc
backend/discordWebhook/_deps/zlib-subbuild/CMakeCache.txt
backend/discordWebhook/_deps/zlib-subbuild/CMakeFiles/3.23.2/CMakeSystem.cmake
backend/discordWebhook/_deps/zlib-subbuild/CMakeFiles/3.23.2/VCTargetsPath.txt
backend/discordWebhook/_deps/zlib-subbuild/CMakeFiles/3.23.2/VCTargetsPath.vcxproj
backend/discordWebhook/_deps/zlib-subbuild/CMakeFiles/3.23.2/x64/Debug/VCTargetsPath.recipe
backend/discordWebhook/_deps/zlib-subbuild/CMakeFiles/3.23.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
backend/discordWebhook/_deps/zlib-subbuild/CMakeFiles/cmake.check_cache
backend/discordWebhook/_deps/zlib-subbuild/CMakeFiles/CMakeOutput.log
backend/discordWebhook/_deps/zlib-subbuild/CMakeLists.txt
backend/discordWebhook/_deps/zlib-subbuild/zlib-populate-prefix/tmp/zlib-populate-mkdirs.cmake
backend/discordWebhook/ALL_BUILD.vcxproj
backend/discordWebhook/ALL_BUILD.vcxproj.filters
backend/discordWebhook/cmake_install.cmake
backend/discordWebhook/CMakeCache.txt
backend/discordWebhook/CMakeFiles/3.23.2/CMakeCCompiler.cmake
backend/discordWebhook/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
backend/discordWebhook/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
backend/discordWebhook/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
backend/discordWebhook/CMakeFiles/3.23.2/CMakeRCCompiler.cmake
backend/discordWebhook/CMakeFiles/3.23.2/CMakeSystem.cmake
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/CompilerIdC.exe
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/CompilerIdC.vcxproj
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/Debug/CMakeCCompilerId.obj
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/CompilerIdCXX.exe
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/CompilerIdCXX.vcxproj
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
backend/discordWebhook/CMakeFiles/3.23.2/VCTargetsPath.txt
backend/discordWebhook/CMakeFiles/3.23.2/VCTargetsPath.vcxproj
backend/discordWebhook/CMakeFiles/3.23.2/x64/Debug/VCTargetsPath.recipe
backend/discordWebhook/CMakeFiles/3.23.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
backend/discordWebhook/CMakeFiles/4ceb4cbbb89ff387259820e358acec01/INSTALL_force.rule
backend/discordWebhook/CMakeFiles/85def6b72f5403be9691c5429dc07674/generate.stamp.rule
backend/discordWebhook/CMakeFiles/85def6b72f5403be9691c5429dc07674/INSTALL_force.rule
backend/discordWebhook/CMakeFiles/cmake.check_cache
backend/discordWebhook/CMakeFiles/CMakeError.log
backend/discordWebhook/CMakeFiles/CMakeOutput.log
backend/discordWebhook/CMakeFiles/generate.stamp
backend/discordWebhook/CMakeFiles/generate.stamp.depend
backend/discordWebhook/CMakeFiles/generate.stamp.list
backend/discordWebhook/CMakeFiles/TargetDirectories.txt
backend/discordWebhook/INSTALL.vcxproj
backend/discordWebhook/INSTALL.vcxproj.filters
backend/discordWebhook/potato_webhook.sln
backend/discordWebhook/potato_webhook.vcxproj
backend/discordWebhook/potato_webhook.vcxproj.filters
backend/discordWebhook/Webhook.cpp
backend/discordWebhook/ZERO_CHECK.vcxproj
backend/discordWebhook/ZERO_CHECK.vcxproj.filters
backend/discordWebhook/Webhook.cpp
