[config.file_type]
options.allow_no_extension = true

[config.math_could_be_unquoted]
enabled = "pedantic" #lots in patchHAFMHelis

[stringtables.usage]
options.ignore_unused = true

[sqf]
enabled = true

[sqf.banned_macros]
options.release = [
    "DEBUG_MODE_FULL", "DISABLE_COMPILE_CACHE", "ENABLE_PERFORMANCE_COUNTERS"
]

[sqf.var_all_caps]
enabled = true
options.ignore = [
    "ACRE_CORE_INIT", "ACRE_DATA_SYNCED", "ACRE_MAP_LOADED", "ACRE_IS_SPECTATOR", "ACE_RECOMPILE", "ACE_RECOMPILES", "ACE_PFH_COUNTER"
]

[sqf.banned_commands]
options.ignore = [
    "addPublicVariableEventHandler", # Alternate syntax doesn't work, used in markers post init
]

[sqf.undefined]
enabled = true
options.check_orphan_code = true

[sqf.unused]
#enabled = true #many false positives without DEBUG_MODE_FULL
options.check_params = false

[sqf.shadowed]
enabled = false

[sqf.not_private]
enabled = true
